              .o00o
            o000000oo
           00000000000o
          00000000000000
       oooooo  00000000  o88o
   ooOOOOOOOOoo  ```''  888888
 OOOOOOOOOOOOO'.qQQQQq. `8888'
oOOOOOOOOOOOO'.QQQQQQQQQQ/.88'
OOOOOOOOOOOO'.QQQQQQQQQQ/ /q
OOOOOOOOOOO QQQQQQQQQQ/ /QQ
  OOOOOOOOO `QQQQQQ/ /QQ'
    OO:F_P:O `QQQ/  /Q'
        \\. \ |  // |
        d\ \\\|_////
        qP| \\ _' `|Ob
           \  / \  \Op
           |  | O| |
    _      /\. \_/ /\
    `---__/|_\\   //|  __
          `-'  `-'`-'-'
